/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #85592e;
  --ifm-color-primary-dark: #785029;
  --ifm-color-primary-darker: #714c27;
  --ifm-color-primary-darkest: #5d3e20;
  --ifm-color-primary-light: #926233;
  --ifm-color-primary-lighter: #996635;
  --ifm-color-primary-lightest: #ad743c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a87139;
  --ifm-color-primary-dark: #976633;
  --ifm-color-primary-darker: #8f6030;
  --ifm-color-primary-darkest: #764f28;
  --ifm-color-primary-light: #b97c3f;
  --ifm-color-primary-lighter: #bf8243;
  --ifm-color-primary-lightest: #c8935d;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
